In [4]:
import pandas as pd

In [5]:
# List of high schools
high_schools = ["tnces", "bharti", "gldi", "stjoespehs"]
print(high_schools)

['tnces', 'bharti', 'gldi', 'stjoespehs']

In [6]:
school_series = pd.Series(high_schools)
school_series

0         tnces
1        bharti
2          gldi
3    stjoespehs
dtype: object

In [8]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [9]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [28]:
school_df = pd.DataFrame()

In [31]:
school_df["school_id", "school_name", "t"] = school_id
school_df

   school_id  (school_id, school_name)
0          0                         0
1          1                         1
2          2                         2
3          3                         3
4          4                         4

In [32]:
school_df.columns

Index(['school_id', ('school_id', 'school_name')], dtype='object')

In [33]:
school_df.values

array([[0, 0],
       [1, 1],
       [2, 2],
       [3, 3],
       [4, 4]], dtype=int64)